@import url('https://fonts.googleapis.com/css?family=Bangers');

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    width: 100%;
    height: 100vh;
    background-image: url(../img/star-wars-space.jpg);
    background-size: cover;
}

.death-star {
    grid-area: 2/2/6/6;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: 'Bangers', sans-serif;
    text-align: center;
    color: rgb(229, 177, 58);
    font-size: 300%;
    transform: perspective(400px) rotateX(25deg);
    position: relative;
}

.death-star-heart {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: way-to-star 20s linear 4s infinite;
    pointer-events: none;

}

.death-star-heart h1, h2 {
    text-transform: uppercase;
}

@keyframes way-to-star {
    100% {
        top: -30%;
    }
    0% {
       top: 100%;
    }
}

